<servlet>
    <servlet-name>certificateDicoveryServlet</servlet-name>
    <servlet-class>br.com.acme.sample.security.cript.servlet.CertificateDicoveryServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>certificateDicoveryServlet</servlet-name>
    <url-pattern>/*</url-pattern>
</servlet-mapping>